body{
    background-color:beige;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container {
    width: 500px;
    height: 700px;

    display: flex;
    flex-direction: column;

    background-color: red;
}

#screen-container {
    height: 200px;

    background-color: white;
}

#buttons-container {
    height: 500px;

    display: flex;
    flex-direction: column;
}

#extra-container {
    width: 500px;
    height: 100px;

    display: flex;
}

#main-container {
    display: flex;
}

#digits-container {
    width: 380px;
    height: 400px;

    display: flex;
    flex-wrap: wrap-reverse;
}

#operation-container {
    width: 120px;
    height: 100px;
}

.digit,
#negative {
    width: 120px;
    height: 100px;

    flex-grow: 1;
}

.operator {
    width: 120px;
    height: 100px;
}

#extra-container button{
    width:127px;
    height: 100px;
}

#equal {
    flex-grow: 2;
}