body{
    background-color: #33658A;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container {
    width: 400px;
    height: 565px;
    padding: 15px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;

    background-color: #003049;
}

#screen-container {
    height: 160px;

    /*background-color: #EAE2B7;*/
    background-color: #fff8f0;

    box-sizing: border-box;
    margin: -1px 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 20px;
}

#buttons-container {
    height: 400px;

    display: flex;
    flex-direction: column;
}

#extra-container {
    width: 400px;
    height: 80px;

    display: flex;

    box-sizing: border-box;
}

#main-container {
    display: flex;
}

#digits-container {
    width: 380px;

    display: flex;
    flex-wrap: wrap-reverse;

    box-sizing: border-box;
}

#operation-container {
    width: 100px;
    height: 100px;

    box-sizing: border-box;
}

.digit,
#negative {
    width: 92px;
    height: 80px;

    flex-grow: 1;

    background-color: #86BBD8;
}

#negative,
#decimal,
#equal {
    background-color: #F77F00;
    color: #EAE2B7;
}

.operator {
    width: 92px;
    height: 80px;

    background-color: #FCBF49;
    color: #33658A;
}

#clear,
#delete {
    width:100px;
    height: 78px;

    background-color: #D62828;
    color: #EAE2B7;
}

#equal {
    flex-grow: 1;
}

#operation,
#result {
    margin: 20px;
    color: #003049;
}

button {
    border-style: none;
    margin: 1px;
}