body{
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Rubik';
    background-color: #33658A;
}

#calculator-container {
    width: 376px;
    border-radius: 8px;
    padding: 15px;

    display: flex;
    flex-direction: column;

    background-color: #003049;
}

#screen-container {
    height: 140px;
    box-sizing: border-box;
    margin: 1px 1px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    background-color: #fff8f0;
}

#operation,
#result {
    height: 32px;

    font-size: 24px;
    color: #003049;
}

#result {
    font-size: 32px;
    font-weight: 700;
}

/* buttons container */
#buttons-container {
    display: flex;
}

#main-container {
    display: flex;
}

#extra-container {
    display: flex;
}

#digits-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* digits */
.digit {
    width: 92px;
    height: 80px;

    background-color: #86BBD8;
}

#zero {
    width: 186px;
}

/* operators */
#negative,
#decimal,
#equal {
    width: 92px;
    height: 80px;

    background-color: #F77F00;
    color: #fff8f0;
}

#clear,
#delete {
    width: 92px;
    height: 80px;

    background-color: #D62828;
    color: #fff8f0;
}

/* 4 operators */
.operator {
    width: 92px;
    height: 80px;

    background-color: #FCBF49;
    color: #003049;
}

button {
    border-style: none;
    margin: 1px;

    font-family: 'Rubik';
    font-size: 28px;
}

#negative:active,
#delete:active,
#decimal:active,
#clear:active,
#equal:active,
.digit:active,
.operator:active {
    color: #fff8f0;
    background-color: #003049;
}

/* google-icons font */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}